<table align="center" style="width: 100%;font-family:Tahoma,'Segoe UI', Geneva, Verdana, sans-serif;">
    <tr align="center">
        <td>
            <table style="width:600px;margin:0;padding:20px;border:0;" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td style="background-color:#FF725E;padding:30px 24px 24px 24px;">
                            <a style="text-align:center;padding-left:40%; border:0;text-decoration:none;" target="_blank" href="@Model.SiteUrl"><img src="http://www.fowapps.com/mail-content/crm-logo.png" height="38px" alt="FOWcrm" style="border:0;" /></a>
                            </br><br />
                            <span style="font-family:Tahoma,'Segoe UI', Geneva, Verdana, sans-serif;font-size: 19px;color: white;">
                                <b>@Model.Message.NameValue  @Model.Message.Operation</b>
                            </span></br>
                            <span style="font-family:Tahoma,'Segoe UI', Geneva, Verdana, sans-serif;font-size: 13px; color: white;">
                                @Model.Message.operatingUserValue  @Model.Message.operatingUserKey
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 10px;">
                            <table style="width:552px;margin:0;padding:12px;border: 1px solid #E3E3E3;border-radius:8px;" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td colspan="8">
                                        <span style="text-align: justify;margin: 0;padding: 24px 12px;font-family:Tahoma,'Segoe UI', Geneva, Verdana, sans-serif;font-size: 14px;color: #303435;"><b>@Model.Message.NameKey :</b>@Model.Message.NameValue </span>
                                    </td>
                                    <td rowspan="3" colspan="4">
                                        <a style="text-decoration:none;" href="@Model.ViewDetailUrl">
                                            <span style="padding:0px 5px 0px 5px ;line-height: 40px;text-align: center;float:right; background-color: #FF725E;border-radius: 4px;font-family: Tahoma,'Segoe UI', Geneva, Verdana, sans-serif;font-weight: bold;font-size: 13px;color: #E6F6FC;text-decoration: none;">@Model.ViewDetailText</span>
                                        </a><br />
                                        @*  <a style="font-family:Tahoma,'Segoe UI', Geneva, Verdana, sans-serif;font-size:12px;color:#FF725E;text-decoration:underline;text-align:center" href="@Model.UnsubscribeUrl">@Model.UnsubscribeText</a>*@
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="8">
                                        <span style="text-align: justify;margin: 0;padding: 24px 12px;font-family:Tahoma,'Segoe UI', Geneva, Verdana, sans-serif;font-size: 14px;color: #303435;"><b>@Model.Message.DateKey :</b>@Model.Message.DateValue </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="8">
                                        <span style="text-align: justify;margin: 0;padding: 24px 12px;font-family: Tahoma,'Segoe UI', Geneva, Verdana, sans-serif;font-size: 14px;color: #303435;"><b>@Model.Message.DescriptionKey :</b>@Model.Message.DescriptionValue</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="8">
                                        <span style="text-align: justify;margin: 0;padding: 24px 12px;font-family: Tahoma,'Segoe UI', Geneva, Verdana, sans-serif;font-size: 14px;color: #303435;"><b>@Model.Message.ErrorStatusCodeKey :</b>@Model.Message.ErrorStatusCodeValue</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>

